
// Color
$color-white: #ffffff;
$color-root: #fafbfc;   // container bg color
$color-base: #555555; // base color
$color-gray: #949494; // a bit gray color, used in idea page main description
$color-gray-white: #b7b7b7; // disabled check button bg color, light bg color
$color-light: #e1e1e1; // tag bg color
$color-border: #c1bfbf; // border color of the input box of modal
$color-almost-white: #f0f0f0; // login input box bg color
$color-tab-line: #dbe2e8; // line color, line tab line.
$color-yellow: #ff9601; //yellow button


// Font Size
$font-size-xs: 1.4rem;
$font-size-sm: 1.5rem;
$font-size-base: 1.6rem;
$font-size-lg: 2.1rem;
$font-size-xl: 3.1rem;
$font-size-xxl: 4.4rem;

// Metrics
$input-item-height: 4rem;
$base-margin: 1rem;
$double-base-margin: 2rem;
