.navbar {
  height: 7rem;
  .container {
    height: 100%;
    &.auth-require {
      .navbar-brand {
        width: 100%;
        img {
          margin: 0 auto;
        }
      }
      .navbar-form {
        display: none;
      }
    }
    .navbar-brand {
      height: 100%;
      padding-top: 1rem;  
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 2.5rem;
        object-fit: cover;
      }
    }
    .navbar-form {
      .btn {
        margin-top: 1rem;
        &:last-child {
          margin-right: -2rem;
        }
      }
      @media (min-width: 320px) {
        & {
          width: auto;
          padding-top: 0;
          padding-bottom: 0;
          margin-right: 0;
          margin-left: 0;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

.nav-error {
  margin-top: 10px;
}

.nav-input {
  margin-right: 10px;
}

.nav-btn {
  margin-right: 10px;
}